.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container {
  height: 100%;
  width:100%;
  max-width:460px;
  margin:8% auto 5%
}
